<fieldset class="scheduler-border">
            <legend class="scheduler-border"><img src="Logo_name_3.png" width="auto" height="100px"></legend>
            <div class="my-overflow">
              <%= form_tag root_path, method: 'GET' do %>
                <%= text_field_tag :username, params[:username], placeholder: 'Github Username' %>
                <%= text_field_tag :codechef, params[:codechef], placeholder: 'Codechef Username' %>
                <%= text_field_tag :codeforce, params[:codeforce], placeholder: 'Codeforce Username' %>
                <%= submit_tag 'Search', name: nil %>
              <% end %>
              <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
              <% if @language && @username && @username!='' %>
                <div id="dis" style="display: block;">
                    <div class="row alignment">
                        <div class="col-lg-3 col-sm-3 ">
                            <h2 class="heading">ABOUT</h2>
                            <br>
                        </div>
                    </div>
                    <div class="row alignment">
                        <div class="col-lg-2 col-sm-2 ">
                            <h3 class="margin-data">NAME:</h3>
                            <h3 class="margin-data">USERNAME:</h3>
                            <h3 class="margin-data">LOCATION:</h3>
                            <h3 class="margin-data">BIO:</h3>
                        </div>
                        <div class="col-lg-4 col-sm-2 ">
                            <h3 class=" margin-data" id="name"></h3>
                            <h3 class=" margin-data"  id="user"></h3>
                            <h3 class=" margin-data"  id="location"></h3>
                            <h3 class="  margin-data"  id="bio"></h3>

                        </div>

                        <div  class="col-lg-3 col-md-offset-2 ">
                            <div align="center">
                                <img src=""  id="image" class="img-responsive img-circle" alt="">
                                <h3 class="name-up-2" id="name2"></h3>
                                <h3 class="name-up" id="loc"></h3>
                            </div>
                        </div>
                    </div>
                    <div>
                        <br><br>
                        <hr width="70%">
                        <h1 class="text-center heading">GITHUB</h1>
                    </div>
                    <div class="alignment row">
                        <div class="col-sm-6 col-lg-6">
                            <h2 class="text-center">Language Used</h2>
                            <div align="center">
                                <img src="" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <h2 class="text-center">Progress Report</h2>
                            <div align="center">
                                <img id="progress" src="" alt="">
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <hr width="70%">
                    <h1 class="text-center heading">CODECHEF</h1>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <img src="" alt="" id="chef1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <img src="" alt="" id="force">
                        </div>
                    </div>
                    <br><br>
                    <hr width="70%">
                    <h1 class="text-center heading">CODFORCES</h1>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <img src="" alt="" id="chef1">
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="row">
            <div class="col-sm-4 col-lg-4">
                <p>GITHUB </p>
                <input type="text" id="username">
                <button onclick="load()">Submit</button>
            </div>
             <div class="col-sm-4 col-lg-4">
                <p>CODECHEF</p>
                <input type="text" id="username">
                <button>Submit</button>
            </div>
             <div class="col-sm-4 col-lg-4">
                <p>CODEFORCE</p>
                <input type="text" id="username">
                <button>Submit</button>
</div>
