<fieldset class="scheduler-border">
  <legend class="scheduler-border"><img src="/assets/Logo.png" width="100px" height="100px"></legend>
    <div class="my-overflow">


      <% if !@language %>
        <%= form_tag root_path, method: 'GET' do %>
          <%= text_field_tag :username, params[:username], placeholder: 'Github Username' %>
          <%= text_field_tag :codechef, params[:codechef], placeholder: 'Codechef Username' %>
          <%= text_field_tag :codeforce, params[:codeforce], placeholder: 'Codeforce Username' %>
          <%= submit_tag 'Search', name: nil %>
        <% end %>
      <% end %>

    <% if @language %>
      <div id="dis" style="display: block;">

          <div class="row alignment">
              <div class="col-lg-3 col-sm-3 ">
                  <h2>ABOUT</h2>
                  <br>
              </div>
          </div>

          <div class="row alignment">

              <div class="col-lg-2 col-sm-2 ">
                  <h3 class="margin-data">NAME:</h3>
                  <h3 class="margin-data">USERNAME:</h3>
                  <h3 class="margin-data">LOCATION:</h3>
                  <h3 class="margin-data">BIO:</h3>
              </div>

              <div class="col-lg-4 col-sm-2 ">
                  <h3 class=" margin-data" id="name"><%= @data['name'] %></h3>
                  <h3 class=" margin-data"  id="user"><%= @data['login'] %></h3>
                  <h3 class=" margin-data"  id="location"><%= @data['location'] %></h3>
                  <h3 class="  margin-data"  id="bio"><%= @data['bio'] %></h3>
              </div>

              <div  class="col-lg-3 col-md-offset-2 ">
                  <div align="center">
                      <img src="<%= @data['avatar_url'] %>"  height='50%' width='50%' id="image" class="img-responsive img-circle" alt="">
                      <h3 class="name-up-2" id="name2"></h3>
                      <h3 class="name-up" id="loc"></h3>
                  </div>
              </div>

          </div>

          <img src="http://ghchart.rshah.org/<%= @username %>" alt="Github chart"  />

        <% end %>

          <% if @language %>
            <div class="pie text-center"><h2>Language Used</h2>
                <div align="center">
                    <%= pie_chart @language.map { |k, v| [k, v] }.to_h%>
                </div>
            </div>
          <% end %>

                <% if @chefname %>
                  <% if @d[0] %>
                    <%= column_chart [['Fully solved',@d[0]],['Partially Solved', @d[1]]]  %>
                  <% end %>
                <% end %>



                <% if @forcename && @codeforce %>
                  <% if @codeforce['result'][0]['contribution'] %>
                    <%= bar_chart [['Contribution',@codeforce['result'][0]['contribution']],['Rating',@codeforce['result'][0]['rating']],['HighestRating',@codeforce['result'][0]['maxRating']]]  %>
                  <% end %>
                <% end %>

                <% if @chefname %>
                    <%= column_chart [['Current Rating',@current_codechef_rating],['Highest Rating', @highest_codechef_rating],['Maximum Rating',3000]]  %>
                <% end %>

        </div>
      </div>
  </fieldset>
